[Unit]
Description=Daemon systemd for healthcheck minecraft server

[Service]
Type=oneshot
ExecStart=sh /home/$USER/.config/systemd/user/healthcheckmc.sh

[Install]
WantedBy=default.target